featurebox > .featurebox-container .featurebox-vbox {
	-moz-box-pack: center;
	-moz-box-align: center;
}

featurebox > .featurebox-container .featurebox-image {
	list-style-image: url("images/feature.png");
}

/* ------------------------------------------------------------------------ */

featurebox.application > .featurebox-container .featurebox-image {
	list-style-image: url("images/application.png");
}
