@import url("chrome://org.gnucitizen.weaponry.common.chrome.skin.shared/content/xbl/richtabbox.css");

/* ------------------------------------------------------------------------ */

richtabbox.cosmopolitan > toolbar                                      ,
richtabbox.cosmopolitan > .richtabbox-container .richtabpanels-toolbar {
	border: 0px;
	-moz-appearance: none;
	background: -moz-linear-gradient(#797979, #8a8a8a);
}

/* ------------------------------------------------------------------------ */

richtabbox.cosmopolitan > .richtabbox-container .richtabpanel-toolbarbutton {
	border: 0px;
	min-width: 10em;
	max-width: 20em;
	background: #999999;
	-moz-appearance: none;
	-moz-box-align: center;
	border-radius: 5px 5px 0px 0px
}

richtabbox.cosmopolitan > .richtabbox-container .richtabpanel-toolbarbutton[checked="true"] {
	background: #eeeeee;
}

/* ------------------------------------------------------------------------ */

richtabbox.cosmopolitan > .richtabbox-container .richtabpanel-toolbarbutton[closable="true"] > image {
	width: 12px;
	height: 12px;
	margin-left: 4px;
	margin-right: -18px;
}

richtabbox.cosmopolitan > .richtabbox-container .richtabpanel-toolbarbutton[closable="true"]:hover > image {
	list-style-image: url("images/close.active.still.png");
}

richtabbox.cosmopolitan > .richtabbox-container .richtabpanel-toolbarbutton[closable="true"]:hover > image[state="hovered"] {
	list-style-image: url("images/close.active.hovered.png");
}

richtabbox.cosmopolitan > .richtabbox-container .richtabpanel-toolbarbutton[closable="true"]:hover > image[state="clicked"] {
	list-style-image: url("images/close.active.pressed.png");
}

richtabbox.cosmopolitan > .richtabbox-container .richtabpanel-toolbarbutton[closable="true"]:hover:not([checked="true"]) > image {
	list-style-image: url("images/close.inactive.still.png");
}

richtabbox.cosmopolitan > .richtabbox-container .richtabpanel-toolbarbutton[closable="true"]:hover:not([checked="true"]) > image[state="hovered"] {
	list-style-image: url("images/close.inactive.hovered.png");
}

richtabbox.cosmopolitan > .richtabbox-container .richtabpanel-toolbarbutton[closable="true"]:hover:not([checked="true"]) > image[state="clicked"] {
	list-style-image: url("images/close.inactive.pressed.png");
}

/* ------------------------------------------------------------------------ */

richtabbox.cosmopolitan > .richtabbox-container .richtabpanel-toolbarbutton > label {
	padding-left: 20px;
	padding-right: 20px;
}