:root[lookandfeel="win"] #main-window-navigation-richsidebox {
	border-top: 1px solid Window;
}

/* ------------------------------------------------------------------------ */

#main-window-navigation-richsidebox > .richsidebox-container .richsidepanel-richlistitem[richsidepanelid="main-window-home-richsidepanel"] {
	list-style-image: url("images/home.png");
}

#main-window-navigation-richsidebox > .richsidebox-container .richsidepanel-richlistitem[richsidepanelid="main-window-tasks-richsidepanel"] {
	list-style-image: url("images/tasks.png");
}

#main-window-navigation-richsidebox > .richsidebox-container .richsidepanel-richlistitem[richsidepanelid="main-window-report-richsidepanel"] {
	list-style-image: url("images/report.png");
}

/* ------------------------------------------------------------------------ */

#main-window-target-vbox {
	padding: 5px;
	background: -moz-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(204, 204, 204, 1) 100%);
}

/* ------------------------------------------------------------------------ */

:root[lookandfeel="win"] #main-window-target-locationbox {
	min-height: 24px;
}

/* ------------------------------------------------------------------------ */

#main-window-target-deck > * {
	overflow: auto;
}

/* ------------------------------------------------------------------------ */

.main-window-face {
	padding: 10px;
	color: #000000;
	background: #ffffff;
	border-bottom: 1px solid #dddddd;
}

/* ------------------------------------------------------------------------ */

#main-window-directions-hbox {
	padding: 20px;
	-moz-box-align: center;
}

/* ------------------------------------------------------------------------ */

#main-window-directions-image {
	margin-right: 20px;
	list-style-image: url("images/warning.png");
}

/* ------------------------------------------------------------------------ */

#main-window-directions-description {
	font-size: 14px;
}

/* ------------------------------------------------------------------------ */

#main-window-goof-hbox {
	-moz-box-align: center;
}

/* ------------------------------------------------------------------------ */

#main-window-goof-image {
	margin-right: 20px;
	list-style-image: url("images/warning.png");
}

/* ------------------------------------------------------------------------ */

#main-window-goof-description {
	font-size: 14px;
}

/* ------------------------------------------------------------------------ */

#main-window-tasks-featurebox > .featurebox-container .featurebox-image {
	opacity: 0.5;
	list-style-image: url("images/gear.png");
}

/* ------------------------------------------------------------------------ */

#main-window-tasks-hbox {
	overflow: auto;
}

/* ------------------------------------------------------------------------ */

.main-window-progress-hbox         ,
.main-window-progress-buttons-hbox {
	-moz-box-align: center;
}

/* ------------------------------------------------------------------------ */

.main-window-progress-status-label {
	font-size: 80%;
}

/* ------------------------------------------------------------------------ */

#main-window-report-featurebox > .featurebox-container .featurebox-image {
	opacity: 0.5;
	list-style-image: url("images/chart.png");
}

/* ------------------------------------------------------------------------ */

#main-window-report-hbox {
	color: #000000;
	background: #ffffff;
}

#main-window-report-vbox {
	padding: 20px;
	overflow: auto;
}

#main-window-report-dataroll {
	max-width: 800px;
}

/* ------------------------------------------------------------------------ */

.main-window-issue-vbox {
	padding: 20px;
}

.main-window-issue-vbox .main-window-issue-details-vbox {
	margin-left: 20px;
	padding-left: 20px;
	border-left: 1px solid #dddddd;
}

.main-window-issue-vbox[opening="false"] .main-window-issue-description-vbox {
	display: none;
}

.main-window-issue-vbox htmlbox > .htmlbox-container h3 {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-weight: normal;
}

.main-window-issue-vbox htmlbox > .htmlbox-container pre {
	word-wrap: break-word;
	white-space: pre-wrap;
}

.main-window-issue-vbox htmlbox > .htmlbox-container div {
	cursor: text;
	-moz-user-select: text;
	-moz-user-focus: normal;
}
