locationbox > .locationbox-container {
	border-radius: 15px;
	padding: 0px 5px 0px 5px;
	border: 1px solid #aaaaaa;
	background: -moz-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

locationbox > .locationbox-container .locationbox-textbox {
	border: 0px;
	-moz-appearance: none;
	background: transparent;
}
